.container {
    background-image: url(images/imagem\ curitiba.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    /* opacity: 40%; */
}

.container img {
    
    max-width: 100%; 
    max-height: 100%;
}

.titulo1 {
    font-size: 30px;
    color: black;
}