body{
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 10;
}

nav {
    margin: 0;
    padding: 10px;
    position: relative;
}

nav li {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    width: 100px;

}

h1 {
    text-align: center;
}

img {
    align-items: center;
 }
p {
    text-align: center;
    margin-inline-start: 300px;
    margin-inline-end: 300px;
}

.container {
    background-image: url(images/imagem\ curitiba.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    bottom: 50px;
}

.titulo1 {
    font-size: 30px;
    color: black;
}